body{background-color: lavender;}

h1{color: indigo; size: 24px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; font-weight: 1000;}
h2{color: yellowgreen; font-size: 22px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; font-weight: 500;
     background-color: steelblue; border: 1px solid; border-radius: 20px; }
h3{color: seagreen ; font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 5px; margin: 10px;}

P{color: blue; font-size: 16PX; font-family: 'Times New Roman', Times, serif; background-color:turquoise;}
blockquote{font-size: 12px; font-weight: 100; font-style: italic; font-family: Georgia, 'Times New Roman', Times, serif;}

.divclass
{ 
    margin-left: 40%; 
    padding: 20px; 
    border: 2px solid orange; 
    font-size: 16px;
 }