table, td, th
{
    border:1px solid red;
    
    border-spacing: 5px;
    padding: 2px;
    border-spacing: 0.5em;
}
th,td
{   
    text-align: center;
}
tr:nth-child(even){ background: linear-gradient(120deg, #b3d0e4, #8e44ad); }
tr:nth-child(odd){ background-color:plum;}
th{background-color: slategray; color: white; font: 1em sans-serif;}

body{background: linear-gradient(120deg, #65b1e4, #c8f7e0); }