*{
    padding: 0; margin: 0;
}
body{
    background-image: url(background.jpg);
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu-bar{
    background: rgb(181, 103, 245);
    text-align: center;

}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{text-decoration: none; color: #fff;}

.active, .menu-bar ul li:hover{
    background-color: rgb(173, 22, 233);
    border-radius: 3px;
}

.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(173, 22, 233);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid dotted #fff;
    background: transparent;
    text-align: left;
    border-radius: 0;
 }

 .menu-bar ul li:hover .sub-menu-1 ul li:last-child{
 border-bottom: none;
 }

 .menu-bar ul li:hover .sub-menu-1 ul li a{
   color: #b2ff00;
    }

.fa-angle-right{
    float: right;
}    