body {font-family: Calibri, Helvetica, sans-serif;  background-color: pink; }  
    .container {  padding: 50px;   background: linear-gradient(120deg, #2980b9, #8e44ad);  
        border-radius: 10px; border: 2px solid slateblue;}  
    
    input[type=text], input[type=password], textarea 
    {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
    }  

    input[type=text]:focus, input[type=password]:focus { background-color: orange;  outline: none; }  
    div { padding: 10px 0; }  
    hr {   border: 1px solid #f1f1f1;  margin-bottom: 25px; }  
    .registerbtn{  
        background-color: #4CAF50;  color: white;  padding: 16px 20px; 
        margin: 8px 0;  border: none;  cursor: pointer;
        width: 100%;  opacity: 0.9; border-radius: 30px; 
    
    }  
    .registerbtn:hover {  opacity: 1;  } 